services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: always
    # The command uses the variable defined in your .env file
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
