services:
  prowlarr:
    image: ghcr.io/hotio/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=002
      - TZ=${TZ:-UTC}
    ports:
      - "9696:9696"
    volumes:
      - ${DOCKER_DATA_DIR}/prowlarr:/config
      - ./definitions:/config/Definitions/Custom
    restart: unless-stopped
